<body>
    <div id="content">
        <h1 align="center">Bienvenido {{this.backend.usuario}}!</h1>
    
        <div id="menu">
            <mat-grid-list cols="2" rowHeight="2:0.8">
                <a routerLink="/consultaUsuarios"><mat-grid-tile>Consultar Usuarios</mat-grid-tile></a>
                <a routerLink="/ingresarComic"><mat-grid-tile>Ingresar Comic</mat-grid-tile></a>
                <a routerLink="/consultarComics"><mat-grid-tile>Consultar Comics</mat-grid-tile></a>
                <a routerLink="/login"><mat-grid-tile>Cerrar Sesión</mat-grid-tile></a>
            </mat-grid-list>
        </div>
    </div>
</body>
